/*Benyamina Mohammed - Belaroui Samir*/
#sBackground{
  position: fixed;
  top: 65px;
  height:660PX;
  left: 0px;
  width: 1366px;
  }
  .img1{
	width: 225px;
	height: 150px;
	float: left;
	margin-top: 100px;
	margin-left: 85px;
	border: dotted;
	filter: grayscale(100%);
  z-index: 0;
}

.img2{
	width: 225px;
  height: 150px;  
	margin-top: 50px;
	float: left;
	margin-left: 85px;
	border: dotted;
	filter: grayscale(100%);

}
.child.ui-draggable-dragging {background-color: #3f51b5;color:white; }

.parent {
         float: left;
         margin-top: 10px;
         height: 50px;
         width: 175px;
         
         z-index: 1;
    }

.child {
  float: left;
	  font-size: 18pt;
	text-align: center;
  color: red;
width: 225px;
  border: 3px solid black;
         background-color: white;
  z-index: 1;
}
#Replay{
    position: fixed;
    top: 55%;
    left: 46.5%;
    visibility: hidden;
    color: #fff !important;
    text-transform: uppercase;
    background: #ed3330;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    z-index: 2;
}

#Replay:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}


#logo{
 
 position: fixed;
 left:88% ;
 top: 0%;
 right: 0%;
   z-index: 1000;



}
#navbar {
  background: #9777ff;
  width: auto;
}
#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#navbar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#navbar.align-right ul li {
  float: right;
}
#navbar.align-center ul {
  text-align: center;
}
#navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#navbar ul li a:hover {
  color: #333333;
}
#navbar ul li a:hover:before {
  width: 100%;
}
#navbar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#navbar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#navbar ul li.last > a:after,
#navbar ul li:last-child > a:after {
  display: none;
}
#navbar ul li.active a {
  color: #333333;
}
#navbar ul li.active a:before {
  width: 100%;
}
#navbar.align-right li.last > a:after,
#navbar.align-right li:last-child > a:after {
  display: block;
}
#navbar.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #navbar ul li {
    float: none;
    display: block;
  }
  #navbar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #navbar ul li.last > a,
  #navbar ul li:last-child > a {
    border: 0;
  }
  #navbar ul li a:after {
    display: none;
  }
  #navbar ul li a:before {
    display: none;
  }
}
