/*Benyamina Mohammed - Belaroui Samir*/
#sBackground{
  position: fixed ;
  background-repeat: no-repeat;
  width: 1280px;
height: 650px;
  left: 43px;
  right: 100px;
  top: 35px;
  z-index: 0;    
}
#elephant{
	background-image: url("../animals/elephant.gif");
  top: 335px;
  left: 85px;
  position: fixed;
  width: 15.5%;
  height: auto;
}
#horse{
  width: 325px;
  height: auto;
  position :fixed;
  top: 255px;
  left: 525px;
  
}#bear{
	top: 360px;
	right: 400px;
	width: 125px;
  position: fixed;
}#monkey{
	position: fixed;
	top :450px;
	width: 150px;
	left: 350px
}#tiger{
	top: 325px;
	position: fixed;
	left: 500px;
  width: 175px;
  height: auto;
}#lion{
	top: 275px;
	position: fixed;
	right: 71px;
  width: 190px;
  height: auto;
}#bee{
	top: 275px;
	position: fixed;
	right: 327px;
  width: 150px;
  height: auto;
}#bird{
	position: fixed;
  top: 117px;
  left: 260px ;
  width: 50px;
  height: auto;
  max-width: 100%;
}

#logo{
 z-index: 1000;
 position: fixed;
 left:88% ;
 top: 0%;
 right: 0%;
   



}
#navbar {
  background: #9777ff;
  width: auto;
}
#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#navbar ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#navbar ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#navbar.align-right ul li {
  float: right;
}
#navbar.align-center ul {
  text-align: center;
}
#navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#navbar ul li a:hover {
  color: #333333;
}
#navbar ul li a:hover:before {
  width: 100%;
}
#navbar ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#navbar ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#navbar ul li.last > a:after,
#navbar ul li:last-child > a:after {
  display: none;
}
#navbar ul li.active a {
  color: #333333;
}
#navbar ul li.active a:before {
  width: 100%;
}
#navbar.align-right li.last > a:after,
#navbar.align-right li:last-child > a:after {
  display: block;
}
#navbar.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #navbar ul li {
    float: none;
    display: block;
  }
  #navbar ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #navbar ul li.last > a,
  #navbar ul li:last-child > a {
    border: 0;
  }
  #navbar ul li a:after {
    display: none;
  }
  #navbar ul li a:before {
    display: none;
  }
}